@using ORA.UI.PAMS.Demo.Models;

<center>
    <h2>PAMS</h2>
</center>
<div id="buttonContainer"></div>
@(Html.DevExtreme().TabPanel()
                .ID("tabpanel-container")
                .Height("100%")
                .Width("100%")
                .DataSource(new NameValue[2] { new NameValue("Tab1: Partial View", "1"), new NameValue("Tab2: Ajax load", "2") })
                .SelectedIndex(0)
                .Loop(false)
                .AnimationEnabled(true)
                .SwipeEnabled(true)
                .ItemTitleTemplate(@<text>
                    <span><%- Name %></span>
                </text>)
                .ItemTemplate(@<text>
                    <div class="tabpanel-item">
                        <% if(Value == '1') { %>
                        <center>
                            <div>
                                    @(Html.DevExtreme().Button()
                                .Icon("check")
                                .Text("ShowSelectedData")
                                .Type(ButtonType.Success)
                                .OnClick("DisplayAllSelectedData")
                                )
                                </div>
                                <div id="grid-container1">
                                    <partial name="~/Views/Home/_SpecialNoteGRID.cshtml" />
                                </div>
                            </center>
                            <% } else { %>
                            <center>
                                        @(Html.DevExtreme().Button()
                                .Icon("check")
                                .Text("Load Grid from Ajax")
                                .Type(ButtonType.Success)
                                .OnClick("LoadGrid")
                                )
                                <div id="grid-container2">
                                </div>
                            </center>
                            <% } %>
                        </div>
                    </text>)
                    .OnSelectionChanged("onTabChanged")
)

<!-- ConfirmPopup -->
<div class="modal fade" id="ConfirmPopup" tabindex="-1" role="dialog" aria-labelledby="ConfirmTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ConfirmTitle">Confirm Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="ConfirmCancel();">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="ConfirmContent">
                Confirm Content
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="ConfirmOK" style="width: 100px;">OK</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal"  style="width: 100px;" onclick="ConfirmCancel();">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script>
    function onTabChanged(e) {
        var tab = e.component.option("selectedIndex") + 1;
        ResizeTabPanel(tab);
    }

    function ResizeTabPanel(tab) {
        var width = $("#grid-container" + tab + " .dx-datagrid-table").width();
        if (width < $(window).width())
            width = $(window).width();

        $("#tabpanel-container").width(width);
    }

    function LoadGrid() {
        let postBackURL = "/Home/Grid";

        $.ajax({
            url: postBackURL,
            method: 'GET'
        })
            .done(function (data) {
                $("#grid-container2").html(data);
                return false;
            })
            .fail(function () {
                alert('Postback failed.');
            })
    }

    function DisplayAllSelectedData() {
        const gridView = DevExpress.ui.dxDataGrid.getInstance(document.getElementById('grid1'));
        var selectedRows = gridView.getSelectedRowsData();
        var dialogContent = "";
        selectedRows.forEach(function (row) {
            dialogContent += row.Id + "- " + row.UserName + "<br/>";
        });
        DevExpress.ui.dialog.alert(dialogContent, "");
    }
</script>

<script>
    var selectAllCheckBox;
    var checkBoxUpdating = false;

    function isSelectable(item) {
        return item.IsActive;
    }

    function isSelectAll(dataGrid) {
        var items = [];

        dataGrid.getDataSource().store().load().done(function (data) {
            items = data;
        });

        var selectableItems = items.filter(isSelectable);
        var selectedRowKeys = dataGrid.option("selectedRowKeys");

        if (!selectedRowKeys.length) {
            return false;
        }
        return selectedRowKeys.length >= selectableItems.length ? true : undefined;
    }

    function onEditorPreparing(e) {
        var dataGrid = e.component;

        if (e.dataField === "Comment") {
            e.editorName = "dxTextArea";//"dxTextArea";
        }

        if (e.command === "select") {
            if (e.parentType === "dataRow" && e.row) {
                if (!isSelectable(e.row.data))
                    e.editorOptions.disabled = true;
            } else if (e.parentType === "headerRow") {
                e.editorOptions.onInitialized = function (e) {
                    selectAllCheckBox = e.component;
                }
                e.editorOptions.value = isSelectAll(dataGrid);
                e.editorOptions.onValueChanged = function (e) {
                    if (!e.event) {
                        if (e.previousValue && !checkBoxUpdating) {
                            e.component.option("value", e.previousValue);
                        }
                        return;
                    }
                    if (isSelectAll(dataGrid) === e.value) {
                        return;
                    }

                    e.value ? dataGrid.selectAll() : dataGrid.deselectAll();

                    e.event.preventDefault();
                }
            }
        }
    }

    function onSelectionChanged(e) {
        var deselectRowKeys = [];
        e.selectedRowsData.forEach((item) => {
            if (!isSelectable(item))
                deselectRowKeys.push(e.component.keyOf(item));
        });
        if (deselectRowKeys.length) {
            e.component.deselectRows(deselectRowKeys);
        }
        checkBoxUpdating = true;
        selectAllCheckBox.option("value", isSelectAll(e.component));
        checkBoxUpdating = false;
    }
</script>

<script>
    let isSaveClick = false;

    function isEditVisible(e) {
        return !e.row.isEditing;
    }
    function onEditClick(e) {
        e.component.editRow(e.row.rowIndex);
        e.event.preventDefault();
    }

    function isSaveVisible(e) {
        return e.row.isEditing;
    }
    function onSaveClick(e) {
        ShowConfirmPopup("Confirm Saving", "Are you sure you want to save changes?", () => {
            isSaveClick = true;
            e.component.saveEditData().then(() => {
                isSaveClick = false;
            });
            //e.component.saveEditData();
            //e.component.refresh(true);
        });
        e.event.preventDefault();
    }

    function isCancelVisible(e) {
        return e.row.isEditing;
    }
    function onCancelClick(e) {        
        ShowConfirmPopup("Confirm Cancellation", "Are you sure you want to cancel?", () => {
            e.component.cancelEditData();
        });
        e.event.preventDefault();
    }
</script>

<script>
    function ConfirmCancel() {
        $('#ConfirmPopup').modal('hide');
        isSaveClick = false;
    }
    function ShowConfirmPopup(title, content, callback) {
        $("#ConfirmTitle").text(title);
        $("#ConfirmContent").text(content);
        $('#ConfirmPopup').modal('show');

        $("#ConfirmOK").click(() => {
            callback();
            $('#ConfirmPopup').modal('hide');
        });
    }
</script>

<script>
    function rowValidating(e) {
        const isFundChanged = e.newData.hasOwnProperty('Fund');
        console.log("rowValidating", isFundChanged)

        if (isFundChanged) {
            const request = $.ajax({
                url: '@Url.Action("ValidateFund", "SpecialNote")',
                type: "GET",
                dataType: "json",
                contentType: "application/json",
                data: { Fund: e.newData.Fund }
            });

            request.done((json) => {
                console.log(json);
                e.isValid = false;
                e.errorText = "Fund error...";
            });

            e.promise = request;
        }
    }

    function validateFund(e) {
        if (!isSaveClick) return new Promise(r => r(true));

        return $.ajax({
            url: '@Url.Action("ValidateFund", "SpecialNote")',
            type: "GET",
            dataType: "json",
            contentType: "application/json",
            data: { Fund: e.data.Fund }
        });
    }

    function validateComment(e) {
        if (!isSaveClick) return new Promise(r => r(true));

        return $.ajax({
            url: '@Url.Action("ValidateComment", "SpecialNote")',
            type: "GET",
            dataType: "json",
            contentType: "application/json",
            data: { Comment: e.data.Comment }
        });
    }
</script>

<style>
    @@media (min-width: 576px) {
        .container-sm, .container {
            max-width: 1920px !important;
        }
    }

    @@media (min-width: 768px) {
        .container-md, .container-sm, .container {
            max-width: 1920px !important;
        }
    }

    @@media (min-width: 992px) {
        .container-lg, .container-md, .container-sm, .container {
            max-width: 1920px !important;
        }
    }

    @@media (min-width: 1400px) {
        .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
            max-width: 1920px !important;
        }
    }
</style>